/* main */
/* floor_electric */

main {
    margin-top: 50px;
}


.floor {
    display: flex;
    flex-direction: column;
}

.floor_good_hd {
    display: flex;
    align-items: center;
    justify-content: center;
}

.floor_good_hd h3 {
    color: black;
    font-size: 1.7rem;
    font-weight: 700;
}

.floor_good {
    margin-top: 25px;
}

.goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
}

.goods li {
    display: flex;
    margin: 18px 5px;
    width: 225px;
    height: 295px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 8px 5px 2px 1px #000000;
    transition: all .5s;
}

.goods li a {
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 2px solid #ffa7e4;
    border-radius: 15px;
}

.goods .picture {
    flex: 2;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
    background-color: #d8d8d8;
}

.pic_box {
    width: 100%;
    text-align: center;
    line-height: 120px;
    /* width: 100px; */
    height: 180px;
}

.pic_box img {
    justify-content: center;
    align-items: flex-start;
    height: 180px;
    width: 180px;
}


.desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: #000000;
    padding: 0 12px;
}

.good_title{
    font-size: large;
}

.good_title,
.previous_price,
.price {
    flex: 1;
    padding-top: 8px;
}

.desc s {
    font-weight: 200;
}

.price {
    border-top: 2px solid #000000;
    color: #eb18ac;
}