.floor_good_hd {
    height: 48px;
}

.floor_good_hd i {
    color: #166080;
    font-size: 24px;
    font-weight: 600;
}

.floor_good_hd span {
    font-size: 24px;
    font-weight: 600;
}

.floor_good_hd span::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -5px;
    left: 0;
    width: 99%;
    height: 5px;
    border-radius: 5px;
    background-color: #166080;
}

.goods li {
    display: flex;
    margin: 18px 5px;
    width: 225px;
    height: 295px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 8px 5px 2px 1px #000000;
    transition: all .5s;
}

.goods li a {
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 2px solid #ffa7e4;
    border-radius: 15px;
    text-decoration: none; 
}

.goods li:hover{
    transform: translateY(-30px);
}

.goods li .picture {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.goods li .picture img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: middle;
}


.desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: #000000;
    padding: 0 12px;
    background-color: #66b4b8;
    text-decoration: none; 
}

.good_title{
    font-size: large;
    text-decoration: none; 
}

.good_title,
.previous_price,
.price {
    flex: 1;
    padding-top: 8px;
    text-decoration: none; 
}

.price {
    border-top: 2px solid #000000;
    color: #000000;
}

@media screen and (max-width:633px){
    .floor_good ul {
        display: flex;
        justify-content: center;
    }
}

ul, ol, dl {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}