/* CSS que aplica a toda la pagina para distintos dispositivos */
/* Derechos reservados al Grupo 4 : Matias Abel Cortés, Héctor Salvador Guzmán, Bárbara Marisol Garro, Ceballos Jorge */



@media only screen and (max-width: 768px) {
    .logo {
        width: 30%;
        margin-left: 0;
    }

    .floor_good_hd h3::before {
        bottom: -3px; 
    }

    .floor_good_hd span::after {
        bottom: -3px; 
    }

    .floor_good_hd h3 {
        font-size: 20px; 
    }

    nav ul li {
        margin-right: 3px; 
        margin-left: -20px;
    }

    nav a {
        padding: 10px 15px; 
    }   

    .search-wrap {
        width: 100%; 
        margin: 10px 0;
    }

    .user {
        margin-top: 10px; 
        display: flex; 
        align-items: center; 
    }

    .user a:before {
        display: none;
    }
}