/* CSS que aplica al Body (Header, Nav y Footer) */
/* Derechos reservados al Grupo 4 : Matias Abel Cortés, Héctor Salvador Guzmán, Bárbara Marisol Garro, Ceballos Jorge */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    position: relative;
    overflow-x: hidden; 
    overflow-y: auto;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/fondo2.webp);
    opacity: 0.1;
    z-index: -1; 
}

header{
    background-image: url(../img/fondodis.webp);
    background-position: center;
}

.logo{
    max-width: 235px;
}

.logo img{
    width: 100%;
}

.buscador {
    border: 2px solid black;
    height: 7rem;
    border-radius: 40px;
    width: 512px;
}

.search{
    position: relative;
    height: 40px;
    width: 95%;
}

.search input{
    width: 100%;
    height: 100%;
    font-size: 16px;
    border-radius: 8px;
}

.search::before{
    position: absolute;
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    top:8px;
    left: 6px;
    background: url(../img/search.webp) no-repeat;
    background-size: contain;
}

.user-responsive {
    display: none;
}

.user a{
    position: relative;
    font-weight: 700;
    text-decoration: none;
}

.user a:hover {
    text-decoration: underline;
}

#user_out{
    display: none;
}

nav ul li a{
    padding: 10px 20px;
    color: black;
    border-radius: 20px;
    background-color: #ffa7e4;
    transition: all .5s;
    text-decoration: none;
    font-weight: 700;
}

.offcanvas-body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/fondo2.webp);
    opacity: 0.1;
    z-index: -1; 
}

.offcanvas-body ul li a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
}

nav a:hover{
    color: #fff;
    background-color: #008ecc;
}

@media screen and (max-width: 768px) {
    header {
        position: fixed;
        top: 0;
        z-index: 1;
    }
    
    nav {
        width: 100%;
    }

    nav ul {
        justify-content: center;
    }

    .user {
        justify-content: center;
    }

    main {
        margin-top: 7rem;
    }
}


/* Footer */

footer {
    background-color: #166080;
    color: #ffa7e4;
}

.footer-section h2 {
    font-size: 23px;
}

.footer-section ul {
    font-size: 15px;
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section .icon {
    width: 35px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}

/* copyright */


.copyright{
    border-top: 1px solid #ffa7e4;
}

.copyright p{
    font-size: 20px;
    color: #fff;
}

.login {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

form .container {
    display: flex;
    flex-direction: column;
}

form {
    background-color: lightgray;
    box-shadow: 1px 1px 5px 5px gray;
    width: 330px;
    padding: 4rem 2rem;
}

label {
    padding-bottom: 0.5rem;
}

input {
    margin-bottom: 0.5rem;
    height: 1.8rem;
    border-radius: 12px;
}

input::placeholder {
    font-size: 0.97rem;
    padding: 0 0.2rem;
}

.password {
    padding-bottom: 0.5rem;
}

button {
    margin: 1rem 0;
}

form .container h3 {
padding-bottom: 1.5rem;
}

@media screen and (max-width: 768px){
    .footer-section {
        padding: 0.5rem 0;
    }
}

.fa-bars {
    font-size: 2rem;
    color: white;
}

p {
    margin-bottom: 0;
}

.section-title i {
    color: #166080;
    font-size: 24px;
    font-weight: 600;
}

.section-title span {
    font-size: 24px;
    font-weight: 600;
}

.section-title span::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -5px;
    left: 0;
    width: 99%;
    height: 5px;
    border-radius: 5px;
    background-color: #166080;
}

.recipe li {
    margin: 18px 5px;
    width: 225px;
    height: 295px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 8px 5px 2px 1px #000000;
    transition: all .5s;
}

.recipe li a {
    flex: 1;
    width: 100%;
    border: 2px solid #ffa7e4;
    border-radius: 15px;
}

.recipe li:hover{
    transform: translateY(-30px);
}

.recipe-photo {
    width: 100%;
    height: 180px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.recipe-photo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: middle;
}


.recipe-description {
    flex: 1;
    font-weight: 600;
    padding: 0 12px;
    background-color: #66b4b8;
}

.recipe-title,
.previous_price,
.price {
    flex: 1;
    padding-top: 8px;
}

.price {
    border-top: 2px solid black;
    color: black;
}

@media screen and (max-width:633px){
    .section-content ul {
        margin-top: 1rem;
    }
}

ul, ol, dl {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

@media screen and (max-width:768px) {
    .recipe li {
        transition: none;
    }

    .recipe li:hover{
        transform: none;
    }
}


@media only screen and (max-width: 992px) {
    .floor_good_hd h3::before {
        bottom: -3px; 
    }

    .floor_good_hd span::after {
        bottom: -3px; 
    }

    .floor_good_hd h3 {
        font-size: 20px; 
    }

    .user {
        margin-top: 10px;
    }

    .user a {
        color: black;
        font-size: 1.5rem;
    }

    .user a:before {
        display: none;
    }
}




.img_barra {
    margin: 0 10px;
    position: relative;
    transition: transform 0.3s ease;
}

.img_barra:hover {
    transform: scale(1.1);
}

.nosotros_logo,
.lugar_logo {
    width: 100px;
    height: auto;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.title_nos {
    font-size: 50px;
}

.title_ubi {
    font-size: 50px;
}

.text-block, .image-block {
    flex: 1;
}

.text-block {
    background-color: #acdfe2;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    font-weight: bold;
    border-radius: 40px;
}

.image-block {
    width: 5%;
}

.image-block img {
    max-width: 80%;
    height: auto;
    max-height: 200px;
    border-radius: 40px;
}

img {
    width: 100%;
    height: auto;
}

.mapa{
    width: 90%;
    height: 85vh;
}

@media only screen and (max-width: 768px) {
    article {
        flex-direction: column;
    }

    .text-block, .image-block {
        width: 100%;
    }

    .image-block img {
        width: 100%;
        height: auto;
    }

    .section {
        flex-direction: column;
    }

    img {
        max-width: 100%;
    }
}
.container-forma{
    margin: 50px auto;
    width: 70%;
    background-color: #ffd1dc;
    padding: 20px;
    border-radius: 10px;
   }
#formulario{
    display: block;
    width: 80%;
    background-color: #ffd1dc;
    padding: 10px;
    border-radius: 5px;
}
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea{
    display: block;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
form button[type="submit"]{
    display: block;
    margin-bottom: 10px;
    background-color: #77aec5;
    margin: 0 auto;

}

